<div class="container">
	<br>
	<% if current_user %>
	<div class="clearfix">
		<h2 id="hello-title" class="pull-left">My Info:</h2>
		<form class="form " role="form" method="post" action="/login">
			<div class="form-group">
			<button type="button" class="btn btn-warning pull-right" data-target=".edit_user" data-toggle="modal"><b>Edit</b></button>
			</div>
		</form>
		  <div class="modal fade edit_user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Edit Info</h4>
	        </div>
	        <div class="modal-body">
	          <form action="/add_user" method="POST">
	          <fieldset class="form-group">
	            <label>First Name</label>
	            <input type="text" class="form-control" placeholder="Enter first name" name ="first_name" value="<%= current_user.first_name %>">
	          </fieldset>
	          <fieldset class="form-group">
	            <label>Last Name</label>
	            <input type="text" class="form-control" placeholder="Enter last name" name ="last_name" value="<%= current_user.last_name %>">
	          </fieldset>
	          <fieldset class="form-group">
	            <label>Phone</label>
	            <input type="text" class="form-control" placeholder="Enter Phone" name ="phone" value="<%= current_user.phone %>">
	          </fieldset>
	          <fieldset class="form-group">
	            <label>Location</label>
	            <input type="text" class="form-control" placeholder="Enter Location" name ="city" value="<%= current_user.city %>">
	          </fieldset>
	          <fieldset class="form-group">
	            <label>State</label>
		        <select name="user[state]" class="form-control">
		            <% CS.states(:us).each do |key, value| %>
		              <option><%= key%></option>
		            <% end %>
		        </select>
	          </fieldset>
	          <fieldset class="form-group">
	            <label>Password</label>
	            <input type="password" class="form-control" placeholder="Enter password" name ="password">
	          </fieldset>
	          <fieldset class="form-group">
	            <label>Confirm Password</label>
	            <input type="password" class="form-control" placeholder="Enter password again" name ="password_confirmation">
	          </fieldset>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="submit" class="btn btn-success pull-right">Update</button>
	          </form>
	        </div>
	        <div class="modal-footer">
	        </div>
	      </div>
	    </div>
	  </div>

	</div>
	<div id="user-show-info" class="well">
	
		<h4>Frist Name: <b><%= current_user.first_name %></b></h4>
		<h4>Last Name: <b><%= current_user.last_name%></b></h4>
		<h4>Phone: <b><%= current_user.phone%></b></h4>
		<h4>Location: <b><%= current_user.city %>, <%= current_user.state%></b></h4>
	</div>
	<% end %>
	<br>
	<div class="clearfix">
		<h2 id="hello-title" class="pull-left">My Products:</h2>
		<form class="form " role="form" method="post" action="/login">
			<div class="form-group">
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".add_product"><b>Add a New Product</b></button>
			</div>
		</form>
		<div class="modal fade add_product" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Add Product</h4>
		        </div>
		        <div class="modal-body">
		          <form action="/add_user" method="POST">
		          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		          <fieldset class="form-group">
		            <label>Name</label>
		            <input type="text" class="form-control" placeholder="Enter name" name ="name">
		          </fieldset>
		          <fieldset class="form-group">
		            <label>Price</label>
		            <input type="text" class="form-control" placeholder="Enter price" name ="price">
		          </fieldset>
		          <fieldset class="form-group">
		            <label>Category</label>
		            <select name ="category" class="form-control">
		            <% if @categories %>
		            	<% @categories.each do |category| %>
		            	<option><%= category.name %></option>
		            	<% end %>
		            <% end %>
		            </select>
		          </fieldset>
		          <fieldset class="form-group">
		            <label>Description</label>
		            <textarea placeholder="Enter description" class="form-control" name ="description"></textarea>   
		          </fieldset>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		          <button type="submit" class="btn btn-success pull-right">Add</button>
		          </form>
		<!--           <button type="submit" class="btn btn-primary pull-right">Register</button> -->
		        </div>
		        <div class="modal-footer">
		        </div>
		      </div>
		    </div>
		  </div>
	</div>
	<% if @products %>
	<% @products.each do |product| %>
	<div id="user-show-product" class="well clearfix">
		<div class="pull-left">
			<h4>Name: <b><%= product.name %></b></h4>
			<h4>Price: <b>$<%= product.price %>/day</b></h4>
			<h4>Category: <b><%= product.name %></b></h4>
			<h4>Description: <b><%= product.description %></b></h4>
			<div class="clearfix">
				<div class="">
					<form class="form pull-left" role="form" method="post" action="/login">
						<div class="form-group">
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target=".edit_product_<%= product.id %>"><b>Edit</b></button>
						</div>
					</form>
					<!-- Edit MODAL Start -->
					<div class="modal fade edit_product_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
					    <div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Edit Product</h4>
					        </div>
					        <div class="modal-body">
					          <form action="/add_user" method="POST">
						          <fieldset class="form-group">
						            <label>Name</label>
						            <input type="text" class="form-control" placeholder="Enter name" name ="name" value="<%= product.name %>">
						          </fieldset>
						          <fieldset class="form-group">
						            <label>Price</label>
						            <input type="text" class="form-control" placeholder="Enter price" name ="price" value="<%= product.price %>">
						          </fieldset>
						          <fieldset class="form-group">
						            <label>Category</label>
						            <select name ="category" class="form-control">
									<% if @categories %>
						            	<% @categories.each do |category| %>
						            	<option><%= category.name %></option>
						            	<% end %>
						            <% end %>
						            </select>
						          </fieldset>
						          <fieldset class="form-group">
						            <label>Description</label>
						            <textarea placeholder="Enter description" class="form-control" name ="description" ><%= product.description %></textarea>   
						          </fieldset>
						          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						          <button type="submit" class="btn btn-success pull-right">Update</button>
						      </form>
					        </div>
					        <div class="modal-footer">
					        </div>
					      </div>
					    </div>
					  </div>
				</div>
				<div >
					<form class="form col-md-offset-1" role="form" method="post" action="/login">
						<div class="form-group">
						<button type="button" data-toggle="modal" data-target=".bs-example-modal-sm<%= product.id %>" class="btn btn-danger "><b>Delete</b></button>
						</div>
					</form>
					<!-- delete MODAL Start -->
			        <div id = "" class="modal fade bs-example-modal-sm<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			          <div class="modal-dialog modal-sm">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal">&times;</button>
			                <h4 class="modal-title">Delete Confirmation</h4>
			              </div>
			              <div class="modal-body">
			                <p>Are you sure you wan to delete <b>Umbrella</b></p>
			              </div>
			              <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			                <form action="/delete/" method="POST" class="pull-right">
			                  <button type="submit" class="btn btn-danger">Delete</button>
			                </form>
			              </div>
			            </div>
			          </div>
			        </div>
				</div>
			</div>
		</div>
		<img class="pull-right" src="http://www.briscoes.co.nz/productimages/magnify/1/17124_38357_28701.jpg">
	</div>
	<% end %>
	<% end %>
</div>