<div class="container">
	<br>
	<br>
	<div class="col-md-12 ">
		<% if @search %>
			<% @search.each do |s| %>
					<div class="col-md-3 ">
						<div class="well box clearfix">
							<a href="">
								<img src="<%= s.image %>">
								<h4><%= s.name %></h4>
								<p><%= s.description %></p>
								<p>$ <%= s.price %> /day</p>
								<form action="/results" method="post">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="catName" value="<%= s.category.id %>">
									<a href="#" onclick="$(this).closest('form').submit(); return false;"><%= s.category.name.capitalize %></a>
								</form>
								
							</a>
							<br>
							<a href="" class="btn btn-info pull-right">Add to Cart</a>
						</div>
					</div>
			<% end %>
		<% end %>	
	</div>
</div>
