<div class="container">
<h1 onload="ya()"></h1>
<div id='categories_bar'>
	<ul>
		<% if @categories %>
			<% @categories.each do |category| %>
				<li class="categories">
					<form action="/results" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="hidden" name="catName" value="<%= category.id %>">
						<a href="#" onclick="$(this).closest('form').submit(); return false;"><%= category.name.capitalize %></a>
					</form>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-xs-4"><a href="#1"><img src="http://www.gocontigo.com/media/wysiwyg/contigo_rwd/navigation/BundledDealsApril2016.png" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="http://lovelace-media.imgix.net/uploads/647/31e36160-9f49-0132-a2d7-0e6808eb79bf.png?w=700&fit=max&auto=format&q=70" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="http://www.leathercontinental.com/wp-content/uploads/2015/04/guide-how-to-care-for-leather-bags_5.jpg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="https://conciergenews.files.wordpress.com/2010/07/camiseta_adidas_argentina.png" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="http://www.getonthewater.com.au/wp-content/uploads/2013/09/caro2-340x255.png" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-xs-4"><a href="#1"><img src="http://www.bargainblessings.com/wp-content/uploads/2013/09/coleman-tent.png" class="img-responsive"></a></div>
          </div>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>



	<div id="lol">
		<div class="col-md-12 rec">
		<h3 style="color: white">Recomended Items</h3>
		<% if @search %>
			<% @search.each do |s| %>
					<div class="col-md-3 ">
						<div class="well box clearfix">
							<a href="/items/<%= s.id %>">
								<img src="<%= s.image %>">
								<h4><%= s.name %></h4>
								<p><%= s.description %></p>
								<p>$ <%= s.price %> /day</p>
								<form action="/results" method="post">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
									<input type="hidden" name="catName" value="<%= s.category.id %>">
									<a href="#" onclick="$(this).closest('form').submit(); return false;"><%= s.category.name.capitalize %></a>

								</form>
							</a>
							<br>
							<button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target=".promo<%=s.id %>">Add To Cart</button>
						</div>
						<div class="modal fade promo<%=s.id %>" id="myModal" role="dialog">
						    <div class="modal-dialog">
						      <!-- Modal content-->
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Choose a date and the number of days</h4>
						        </div>
						        <form class="form" action="/add_to_cart" method="post">
							        <div class="modal-body">
							            <fieldset class="form-group">
								  			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
								  		</fieldset>
								  		<fieldset class="form-group">
								  			<input type="hidden" name="item_id" value="<%=s.id%>">
								  		</fieldset>
								  		<fieldset class="form-group">
								  			<label>Date</label>
											<input class="form-control" type="date" name="start">
										</fieldset>
										<fieldset class="form-group">
											<label>Days</label>
											<input class="form-control" type="number" name="days">
										</fieldset>
							        </div>
							        <div class="modal-footer">
							          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							          <input class="btn btn-success" type="submit" name="submit" value="Add to Cart">
							        </div>
						        </form>
						      </div>
						    </div>
				  		</div>
					</div>
			<% end %>
		<% end %>	
	</div>
	</div>
	
	


	<% if @items %>
	<div id="latest_wrapper">
	<div class="col-md-12">
	<br>
		<h3>Latest Added Items </h3>
		<ul >
			<% @items.each do |i| %>
				<div id="latest_items">
					<li class="items"><a href="/items/<%= i.id %>">
						<img  style="height: 100px; width: 100px;" src="<%= i.image %>">
						<h5><%= i.name %></h5><h5>$<%= i.price %>/day</h5>

					</a></li>
				</div>
			<% end %>
		</ul>
	<% end %>
	</div>
	</div>


<script type="text/javascript">
	$('.multi-item-carousel').carousel({
	  interval: 3000
	});
	$('.multi-item-carousel .item').each(function(){
	var next = $(this).next();
	if (!next.length) {
	next = $(this).siblings(':first');
	}
	next.children(':first-child').clone().appendTo($(this));

	if (next.next().length>0) {
	next.next().children(':first-child').clone().appendTo($(this));
	} else {
		$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
	}
});
</script>
